@import "tailwindcss";

:root {
  --heading-font: var(--font-be-vietnam-pro);
  --heading-weight: 700;
}

h1 {
  font-family: var(--heading-font), system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  font-weight: var(--heading-weight);
}

.font-beVietnamPro {
  font-family: var(--font-be-vietnam-pro), sans-serif;
}

.font-plusJakartaSans {
  font-family: var(--font-plus-jakarta-sans), sans-serif;
}

.font-bungee {
  font-family: var(--font-bungee), cursive;
}

.clamp-list {
  max-height: 220px;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.clamp-list.expanded {
  max-height: 2000px;
}
